In [127]:
import pandas as pd

In [128]:
berk = pd.read_csv('scrapers/berkTest.csv')
cmu = pd.read_csv('scrapers/CMUTest.csv')
corn = pd.read_csv('scrapers/cornellTest.csv')
sail = pd.read_csv('scrapers/SAILTest.csv')
uiuc = pd.read_csv('scrapers/UIUCTest.csv')
yale = pd.read_csv('scrapers/YaleTest.csv')
mit = pd.read_csv('scrapers/mitTest.csv')
stan = pd.read_csv('scrapers/stanfordTest.csv')

allData = [berk, cmu, corn, sail, uiuc, yale, mit, stan]

In [129]:
total = 0
for df in allData:
    print(df.columns)
    print()

Index(['description', 'link', 'name', 'number', 'prerequisites', 'profs',
       'text_profs', 'type', 'units', 'websites'],
      dtype='object')

Index(['background', 'key_topics', 'last_offered', 'level', 'link', 'meta',
       'name', 'number', 'permission', 'prereq', 'units', 'website'],
      dtype='object')

Index(['name', 'sites'], dtype='object')

Index(['link', 'name', 'number', 'profs'], dtype='object')

Index(['description', 'directors', 'last_updated', 'link', 'name', 'number',
       'prereq', 'website'],
      dtype='object')

Index(['date', 'description', 'link', 'name', 'number', 'professor'], dtype='object')

Index(['description', 'features', 'level', 'link', 'name', 'number',
       'taught_in'],
      dtype='object')

Index(['link', 'name', 'number', 'prof'], dtype='object')

In [130]:

allData[0].drop(columns = ['prerequisites', 'type', 'profs', 'text_profs', 'units'], inplace = True)
allData[0].dropna(subset = ["websites"], inplace=True)

allData[0].head()

,description,link,name,number,websites
0,Foundations of data science from three perspe...,https://www2.eecs.berkeley.edu/Courses/CSC8,NaN,CS C8,http://inst.eecs.berkeley.edu/~cs8
1,"Fundamental dynamic data structures, includin...",https://www2.eecs.berkeley.edu/Courses/CS61B,The Structure and Interpretation of Computer P...,CS 61B,http://inst.eecs.berkeley.edu/~cs61b
2,An introduction to programming and computer s...,https://www2.eecs.berkeley.edu/Courses/CS61A,Self-paced courses,CS 61A,http://inst.eecs.berkeley.edu/~cs61a
3,This course allows students who have had a li...,https://www2.eecs.berkeley.edu/Courses/EECS47D...,Self-paced courses,EECS 47D,http://inst.eecs.berkeley.edu/~eecs47d
4,MIPS instruction set simulation. The assembly...,https://www2.eecs.berkeley.edu/Courses/CS47C_1977,Self-paced courses,CS 47C,http://inst.eecs.berkeley.edu/~cs47c

In [131]:
allData[1].drop(columns = ['background', 'key_topics', 'last_offered', 'level', 'units', 'meta', 'permission', 'prereq'], inplace = True)
allData[1].dropna(subset = ["website"], inplace=True)
allData[1].head()

,link,name,number,website
2,https://www.csd.cs.cmu.edu/course-profiles/15-...,Algorithms and Advanced Data Structures,15-351,http://www.cs.cmu.edu/~jianma/15351/index.html
4,https://www.csd.cs.cmu.edu/course-profiles/15-...,Algorithm Design and Analysis,15-651,"https://www.cs.cmu.edu/~15451/,https://www.cs...."
6,https://www.csd.cs.cmu.edu/course-profiles/15-...,Database Systems,15-645,http://15445.courses.cs.cmu.edu/
7,http://www.csd.cs.cmu.edu/course-profiles/15-3...,Constructive Logic,15-317,http://www.cs.cmu.edu/~fp/courses/15317-f17/
9,https://www.csd.cs.cmu.edu/course-profiles/15-...,Discrete Differential Geometry,15-458,http://geometry.cs.cmu.edu/ddg

In [134]:
# allData[2]['number'] = allData[2]['name'].str.split(':')[0]
allData[2]['websites'] = allData[2]['sites']
allData[2].head()

,name,sites,websites
0,1109: Fundamental Programming Concepts,[{' CR': 'https://classes.cornell.edu/browse/r...,[{' CR': 'https://classes.cornell.edu/browse/r...
1,1110: Introduction to Computing Using Python,[{' CR': 'https://classes.cornell.edu/browse/r...,[{' CR': 'https://classes.cornell.edu/browse/r...
2,1112: Introduction to Computing Using MATLAB,[{'Spring 21': 'http://www.cs.cornell.edu/cour...,[{'Spring 21': 'http://www.cs.cornell.edu/cour...
3,1132: Short Course in MATLAB,[{'Spring 21': 'http://www.cs.cornell.edu/cour...,[{'Spring 21': 'http://www.cs.cornell.edu/cour...
4,1133: Short Course in Python,[{' CR': 'https://classes.cornell.edu/browse/r...,[{' CR': 'https://classes.cornell.edu/browse/r...

In [ ]:
allData[0].to_csv('cleanData.csv')